<div class="modal-header">
    <button type="button" class="close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Bản đồ</h4>
</div>
<div class="modal-body">
    <div class="col-md-12" ng-if="type == 0" style="text-align: center;">
        <button class="btn {{view.country == country ? 'btn-info' : 'btn-default'}}" ng-repeat="country in mapCountries" ng-click="changeCountry(country)" style="margin-right: 20px;">{{country}}</button>
    </div>
    <div class="col-md-12">
        <div area-map regions="view.regions" country="view.country" ng-if="type == 0"></div>
        <div latlng-map="mapData" ng-if="type == 1"><div id="map2" style="height: 500px; width: 100%;"></div></div>
        <div location-map="mapData" ng-if="type == 2"><div id="map" style="height: 500px; width: 100%;"></div></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="close()" ng-if="!view.editting">Đóng</button>
</div>
