<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/AdminLTE.min.css">
<link rel="stylesheet" href="assets/css/skin-blue.min.css">
<div class="wrapper">
    <header class="main-header">
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>DNA</b>S</span>
            <span class="logo-lg"><b>DNA</b>Search</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu" ng-if="User.isLogged">
                <ul class="nav navbar-nav" ng-if="User.isLogged">
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/default-user.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">Xin chào <strong>{{User.info.username}}</strong></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Thoát</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar" style="padding-top: 0;">
            <ul class="sidebar-menu" ng-if="User.isLogged">
                <li ng-class="{'active': $state.includes('backend.options')}"><a ui-sref="backend.options"><i class="fa fa-cog"></i> <span>Tùy chọn</span></a></li>
                <li ng-class="{'active': $state.includes('backend.tables-species')}"><a ui-sref="backend.tables-species"><i class="fa fa-circle-o"></i> Loài</a></li>
                <li ng-class="{'active': $state.includes('backend.tables-users')}"><a ui-sref="backend.tables-users"><i class="fa fa-users"></i> Tài khoản</a></li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper" ui-view></div>
</div>