<section class="content-header">
    <h1>Quản lý dữ liệu về loài</h1>
</section>
<section class="content">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." ng-model="view.search">
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm {{view.country == '' || !view.country ? 'btn-info' : 'btn-default'}}" ng-click="view.country = ''">Tất cả ({{items.length}})</button>
                        <button type="button" class="btn btn-sm {{view.country == 'Vietnam' ? 'btn-info' : 'btn-default'}}" ng-click="view.country = 'Vietnam'">Việt Nam ({{(items | country: "Vietnam").length}})</button>
                        <button type="button" class="btn btn-sm {{view.country == 'Laos' ? 'btn-info' : 'btn-default'}}" ng-click="view.country = 'Laos'">Lào ({{(items | country: "Laos").length}})</button>
                        <button type="button" class="btn btn-sm {{view.country == 'Campuchia' ? 'btn-info' : 'btn-default'}}" ng-click="view.country = 'Campuchia'">Campuchia ({{(items | country: "Campuchia").length}})</button>
                    </div>

                    <div class="box-tools" ng-if="isRole('admin mentor')">
                        <button type="submit" class="btn btn-success pull-right btn-sm" ng-click="openCreateSpeciesModal()"><i class="fa fa-plus"></i> Thêm loài</button>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Tên Khoa Học</th>
                                <th>Tên thông thường</th>
                                <th>Tên tiếng Việt</th>
                                <th>Tên Lào</th>
                                <th>Tên Campuchia</th>
                                <th>Cập nhật</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="species in items | country: view.country | filter:view.search" species-row></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>