<td ng-click="view(species)" style="cursor: pointer;">{{species.scientific_name | noData}}</td>
<td ng-click="view(species)" style="cursor: pointer;">{{species.english_name | noData}}</td>
<td ng-click="view(species)" style="cursor: pointer;">{{species.vietnamese_name | noData}}</td>
<td ng-click="view(species)" style="cursor: pointer;">{{species.laos_name | noData}}</td>
<td ng-click="view(species)" style="cursor: pointer;">{{species.campuchia_name | noData}}</td>
<td ng-click="view(species)" style="cursor: pointer;">{{species.updated_at | momentFormat}}</td>
<td>
    <i class="fa fa-eye pointer" ng-click="view(species)" style="margin-right: 20px;"></i>
    <i class="fa fa-trash pointer" ng-click="delete(species)" ng-if="isRole('admin curator')"></i>
</td>