<button class="btn btn-success" ng-click="openLoginModal()" ng-if="!User.isLogged">Đăng nhập</button>


<div class="" uib-dropdown ng-if="User.isLogged">
    <button class="btn btn-success" uib-dropdown-toggle>Xin chào {{User.info.username}}</button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" style="left: auto; right: 0; text-align: right;">
        <li role="menuitem" ng-if="isRole('admin curator')">
            <a ui-sref="backend.tables-species">Đến trang quản lý</a>
        </li>
        <li role="menuitem">
            <a href="" ng-click="logout()">Thoát</a>
        </li>
    </ul>
</div>