<div class="back-btn">
    <a class="btn btn-primary btn-x2 page-scroll" ui-sref="frontend.home"><i class="fa fa-arrow-left"></i> Về Trang Chủ</a>
</div>
<login-btn></login-btn>
<header style="background-image: url(assets/img/Male_Barn_Owl.jpg); height: 100%;">
    <div class="header-content overlay"></div>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Trang web nhận dạng các loài động vật có xương sống</h2>
            <h2>được bảo vệ tại Việt Nam</h2>
            <hr style="max-width: 200px;">
            <div class="row" ng-if="!view.searching">
                <div class="col-sm-4 col-sm-offset-2 m-b-md">
                    <div class="input-group-lg">
                        <input ng-disabled="input.file" type="text" class="form-control" ng-model="input.title" placeholder="Tên chuỗi (hoặc thông tin chuỗi)"/>
                    </div>
                </div>
                <div class="col-sm-4 m-b-md">
                    <div class="input-group-lg">
                        <select class="form-control" ng-model="input.typeGen">
                            <option value="">Chọn một loại gen</option>
                            <option value="COI">COI</option>
                            <option value="Cytochrome B">Cytochrome B</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 m-b-md">
                    <div class="input-group-lg">
                        <input ng-disabled="input.file" type="text" class="form-control" ng-model="input.text" placeholder="Nhập chuỗi DNA"/>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-xs-offset-0 col-sm-offset-3">
                    <file-input-form ng-model="input.file" title="Hoặc chọn file (.txt, .fa, .fasta)"></file-input-form>
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 list-button" style="margin-top: 30px;">
                    <button class="btn btn-primary btn-xl" ng-click="search('blast')" ng-disabled="isDisabled()"><i class="fa fa-search"></i> Blast</button>
                    <button class="btn btn-info btn-xl" ng-click="search('phylogenetic_distance')" ng-disabled="isDisabled()"><i class="fa fa-search"></i> phylogenetic distance</button>
                    <button class="btn btn-warning btn-xl" ng-click="search('maximum_likelihood')" ng-disabled="isDisabled()"><i class="fa fa-search"></i> maximum likelihood</button>
                    <button class="btn btn-default btn-xl" ng-click="search('maximum_parsimony')" ng-disabled="isDisabled()"><i class="fa fa-search"></i> maximum parsimony</button>
                </div>
            </div>
            <div class="row" ng-if="view.searching">
                <h3>Đang tìm kiếm</h3>
                <img src="assets/img/loading-spin.svg" style="width: 60px; height: 60px;" alt=""/>
            </div>
        </div>
    </div>
</header>